*{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	font-family: Courier;
	font-size: 12px;
	color: white;
	background-color: black;
	max-width: 940px;
	min-width: 470px;
	border: none;
}

h1, h2, h3, h4, h5{
	margin: 0;
}

header, nav, footer, section, article, div{
	box-sizing: border-box;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
    width: 100%;
    height: auto;
}

/******************

HEADER

******************/

.header {
	height: auto;
	min-height: 56px;
}

.header__inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}


/******************

NAV BAR

******************/


.nav {
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav_list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav_item {
	width:17%;
	box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 10px 0px 10px auto;
    text-transform: uppercase;
}

.nav a {
	display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.nav a:hover {
	background-color: #111;
}

/******************

Main Content

******************/


main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.caption{

}
/******************

Splash

******************/

div#splash{
	background-image: url(images/jaegerevent940.jpg);
	width: 100%;
	height: 370px;
	background-size: cover;
	background-position: center top;
}

p#splash{
	margin-bottom: 2em;
}


