*{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	font-family: Courier;
	font-size: 12px;
	color: white;
	background-color: gray;
}

h1, h2, h3, h4, h5{
	margin: 0;
}

header, nav, footer, section, article, div{
	box-sizing: border-box;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}


/*

HEADER

*/

.header {
	height: auto;
	min-height: 56px;
	transition: min-height 0.3s;
}

.header__inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}


/*

NAV BAR

*/


.nav {
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav_list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_item {
	width:19%;
	box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding-top: 10px auto 10px auto;
    text-transform: uppercase;
}

.nav a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
	background-color: #111;
}